*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #232323;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Raleway", Arial, sans-serif;
}
body.no-scroll {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 96%;
}

.section {
  padding: 6em 2em;
}

.section-title {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0 auto 3em;
  font-size: 3.2rem;
  font-weight: 300;
  color: #d6c78e;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 2px;
  width: 40px;
  height: 2px;
  background-color: #d6c78e;
}
.section-title span {
  font-weight: 900;
}

.hamburger {
  position: absolute;
  top: 2em;
  left: 2em;
  padding: 1.2em;
  transition-property: opacity, filter;
  transition-duration: 150ms;
  transition-timing-function: linear;
  background: none;
  border: 2px solid transparent;
  border-radius: 4px;
  z-index: 10;
  cursor: pointer;
}
.hamburger__box {
  display: inline-block;
  width: 40px;
  height: 24px;
  position: relative;
}
.hamburger__box > .hamburger__inner {
  display: inline-block;
  top: 50%;
  margin-bottom: -2px;
}
.hamburger__box > .hamburger__inner, .hamburger__box > .hamburger__inner::before, .hamburger__box > .hamburger__inner::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.hamburger__box > .hamburger__inner::before, .hamburger__box > .hamburger__inner::after {
  content: "";
  position: absolute;
}
.hamburger__box > .hamburger__inner::before {
  top: -10px;
}
.hamburger__box > .hamburger__inner::after {
  top: 10px;
}
.hamburger__squeeze .hamburger__inner {
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__squeeze .hamburger__inner::before {
  transition: top 75ms 12ms ease, opacity 75ms ease;
}
.hamburger__squeeze .hamburger__inner::after {
  transition: bottom 75ms 12ms ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__squeeze--active .hamburger__inner {
  transform: rotate(45deg);
}
.hamburger__squeeze--active .hamburger__inner, .hamburger__squeeze--active .hamburger__inner::before, .hamburger__squeeze--active .hamburger__inner::after {
  background-color: #232323;
}
.hamburger__squeeze--active .hamburger__inner::before {
  top: 0;
  opacity: 0;
  transition: top 75ms ease, opacity 75ms 12ms ease;
}
.hamburger__squeeze--active .hamburger__inner::after {
  top: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (hover: hover) {
  .hamburger:hover, .hamburger--active:hover {
    opacity: 0.7;
  }
}
.hamburger:focus {
  border-color: #fff;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  overflow: hidden;
}
.header__text {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 2em;
}
.header__text-heading {
  margin-bottom: 0.25em;
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: #d6c78e;
}
.header__text-subtitle {
  font-weight: 300;
  line-height: 1.3;
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/3;
  background-image: url("../assets/images/hero_desktop.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  filter: sepia();
}
.header__img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #191919;
  opacity: 0.45;
}
.header__arrow {
  display: none;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 4em);
  transform: translateX(-50%);
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 50%;
}
.header__arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.header__square {
  position: absolute;
  width: 50%;
  opacity: 0.2;
  z-index: -5;
}
.header__square-one, .header__square-two {
  width: 10%;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header__square-one {
  left: 6em;
  bottom: 8em;
  animation-name: rotate-right;
}
.header__square-two {
  display: none;
  top: 10em;
  left: 20em;
  animation-name: rotate-left;
}

.nav__list {
  list-style-position: inside;
  list-style-type: none;
  display: flex;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  font-size: 2.4rem;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms linear;
}
@media (hover: hover) {
  .nav__link:hover {
    color: #d6c78e;
  }
  .nav__link:hover::before {
    animation: pulse 1s linear;
  }
}
.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #d6c78e;
  opacity: 0;
}
.nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9;
  transform: translateX(-102%);
  transition: transform 300ms linear;
}
.nav__mobile--active {
  transform: translateX(0);
}
.nav__mobile > .nav__list {
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nav__mobile > .nav__list-item {
  display: flex;
  justify-content: center;
}
.nav__desktop {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__desktop > .nav__list {
  flex-direction: row;
}
.nav__desktop > .nav__list .nav__link {
  font-size: 1.8rem;
  color: #fff;
}
@media (hover: hover) {
  .nav__desktop > .nav__list .nav__link:hover {
    color: #d6c78e;
  }
}

/** MAIN **/
.cards {
  background-color: #191919;
  overflow: hidden;
}
.cards__box {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2em;
}
.cards__card {
  position: relative;
  display: grid;
  grid-column: 1/-1;
  justify-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #232323;
  transition: background-color 200ms linear, border 300ms linear;
  z-index: 5;
}
.cards__card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e;
  border-radius: 8px;
  opacity: 0;
}
.cards__card:hover {
  background-color: #191919;
  border-color: #d6c78e;
  z-index: 1;
}
.cards__card:hover::before {
  animation: pulse 1s linear;
}
.cards__card-icon, .cards__card-heading {
  margin-bottom: 0.5em;
}
.cards__card-icon {
  width: 60px;
}
.cards__card-heading {
  text-transform: uppercase;
}
.cards__card--one {
  grid-row: 1/2;
}
.cards__card--two {
  grid-row: 2/3;
}
.cards__card--three {
  grid-row: 3/4;
}

.info {
  position: relative;
  display: grid;
  grid-template-areas: "title title title" "box box box" "box box box";
}
.info__title {
  grid-area: title;
}
.info__container {
  grid-area: box;
}
.info__data-img {
  width: 100%;
  filter: saturate(0.8) sepia();
}
.info__data-heading {
  margin: 0.4em 0;
  font-size: 2.6rem;
  font-weight: 400;
  color: #d6c78e;
}
.info__data-description {
  margin-bottom: 0.5em;
  line-height: 1.3;
}
.info__data-link {
  display: inline-block;
  margin-bottom: 2em;
  color: #d6c78e;
  font-weight: 700;
  transition: color 300ms linear;
}
.info__data-link:hover {
  color: #9b9165;
}
.info__img {
  display: none;
  position: absolute;
  opacity: 0.1;
  z-index: -5;
}
.info__img--one {
  width: 18%;
  top: 14%;
  animation: rotate-right 150s infinite linear;
}
.info__img--two {
  bottom: 10%;
  left: 10%;
  width: 30%;
  animation: rotate-right 120s infinite linear;
}
.info__img--three {
  top: 30%;
  left: 16%;
  width: 40%;
  animation: rotate-right 75s infinite linear;
}
.info__img--four {
  top: 55%;
  left: -10%;
  width: 15%;
  animation: heartbeat 0.25s infinite linear;
}

.plans {
  background-color: #191919;
}
.plans__container {
  margin: 0 0 1em;
  padding: 2em 1em;
  text-align: center;
  background-color: #232323;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: background-color 200ms linear, border-color 200ms linear;
  cursor: pointer;
}
.plans__container:last-child {
  margin-bottom: 0;
}
.plans__container:hover {
  background-color: #191919;
  border-color: #d6c78e;
}
.plans__item {
  margin: 1em 0;
}
.plans__item-icon {
  width: 50px;
}
.plans__item-name {
  margin-top: 0;
  font-size: 2rem;
  color: #d6c78e;
}

.newsletter {
  background-color: #a01c35;
  text-align: center;
}
.newsletter__form-text {
  margin-bottom: 2em;
}
.newsletter__form-label {
  margin-bottom: 1em;
  font-size: 3rem;
  font-weight: 300;
}
.newsletter input,
.newsletter button {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.6rem;
}
.newsletter input {
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  border: 2px solid transparent;
}
.newsletter button {
  padding: 1em;
  border: 2px solid #d6c78e;
  background: none;
  color: #d6c78e;
  font-weight: 600;
  transition: color 200ms linear, background-color 200ms linear;
  cursor: pointer;
}
@media (hover: hover) {
  .newsletter button:hover {
    color: #a01c35;
    background-color: #d6c78e;
  }
}

.gallery__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__img:nth-child(odd) {
  display: none;
}

.contact__form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.contact__form-group {
  margin-bottom: 2em;
  grid-column: 1/-1;
}
.contact__form-group:nth-child(1) {
  grid-row: 1/2;
}
.contact__form-group:nth-child(2) {
  grid-row: 2/3;
}
.contact__form-group:nth-child(3) {
  grid-row: 3/4;
}
.contact__form-label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.contact__form-input, .contact__form-textarea {
  width: 100%;
  padding: 1em;
  background: none;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 1.6rem;
  font-family: "Raleway", Arial, sans-serif;
}
.contact__form-input.error, .contact__form-textarea.error {
  border-color: #a01c35;
}
.contact__form-input:focus, .contact__form-textarea:focus {
  outline: none;
  border-color: #d6c78e;
}
.contact__form-textarea {
  min-height: 100px;
  max-height: 250px;
  resize: vertical;
}
.contact__form-error {
  display: none;
  margin-top: 0.25em;
  color: #a01c35;
}
.contact__form-btn {
  grid-column: 1/-1;
  padding: 1em 2em;
  font-size: 1.6rem;
  font-family: "Raleway", Arial, sans-serif;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color 200ms linear, color 200ms linear;
  cursor: pointer;
}
@media (hover: hover) {
  .contact__form-btn:hover {
    color: #232323;
  }
}
@media (hover: hover) {
  .contact__form-btn--clear:hover {
    background-color: #fff;
  }
}
.contact__form-btn--submit {
  color: #d6c78e;
  border-color: #d6c78e;
}
@media (hover: hover) {
  .contact__form-btn--submit:hover {
    background-color: #d6c78e;
  }
}

.footer {
  padding: 2em;
  text-align: center;
  border-top: 2px solid #191919;
}

/** BREAKPOINTS **/
@media (min-width: 576px) {
  .info {
    grid-template-areas: "title box" "title box" "title box";
  }
  .info__title {
    padding-right: 2em;
  }
  .info__title > .section-title {
    margin: 0 auto 0 0;
  }
  .info__container {
    display: grid;
    justify-content: end;
  }
  .info__data {
    max-width: 500px;
  }
  .info__img {
    display: block;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__img:nth-child(odd) {
    display: inline;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 720px;
  }
  .section {
    padding: 10em 2em;
  }
  .section-title {
    font-size: 4rem;
  }
  .section-title::before {
    height: 4px;
  }
  .cards__card {
    grid-row: 1/2;
  }
  .cards__card--one {
    grid-column: 1/4;
  }
  .cards__card--two {
    grid-column: 4/7;
  }
  .cards__card--three {
    grid-column: 7/-1;
  }
  .newsletter__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .newsletter__form-text {
    margin-bottom: 0;
  }
  .newsletter__form-label {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 960px;
  }
  .hamburger {
    display: none;
  }
  .section-title {
    font-size: 4.8rem;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header__text-heading {
    font-size: 5rem;
  }
  .header__img {
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .header__arrow {
    display: flex;
    align-items: center;
  }
  .header__square-two {
    display: block;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: block;
  }
  .plans__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  .plans__item {
    margin: 0;
  }
  .plans__item-icon {
    margin-left: 1em;
  }
  .newsletter__form-interactive {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    align-items: center;
  }
  .newsletter__form-interactive input {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
  .header__text-subtitle {
    font-size: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=styles.css.map */