* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #383838;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background-color: #8D8D8D;
  padding: 20px;
  border-radius: 20px;
  width: 490px;
}

h1 {
  color: #1C1C1C;
  text-align: center;
  margin-bottom: 1rem;
}

.box {
  width: 100%;
  display: flex;
  text-align: center;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box div {
  width: 100%;
}

.currency {
  width: 95%;
  height: 40px;
  background-color:#383838;
  color: #FFF;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 1em;
  font-weight: 700;
  font-size: 1em;
}

.pointer {
  cursor: pointer;
}

.text-box, .result-box{
  padding-top: 12px;
}

.input-box {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #CCCCCC;
  padding: 0 1em;
}

#button {
  width: 98%;
  height: 40px;
  color: white;
  background-color: #383838;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  font-weight: 700;
  transition: all .25s;
  letter-spacing: 1px;
}

#button:hover {
  background-color: #707070;
}