*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --system-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --light: hsl(0, 0%, 85%);
  --dark: hsl(0, 0%, 15%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--system-font);
  background-color: var(--dark);
  color: var(--light);
}

.navbar {
  width: 94%;
  max-width: 800px;
}

.navbar__container,
.navbar__search {
  display: flex;
  align-items: center;
}

.navbar__container {
  justify-content: space-between;
  background-color: hsl(225, 78%, 52%);
  overflow: hidden;
}

.navbar__links {
  display: flex;
  list-style-type: none;
}

.navbar__links-item {
  margin: 0 .25em;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  color: var(--light);
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.navbar__link:hover {
  background-color: var(--light);
  color: hsl(225, 78%, 52%);
}

.navbar__search {
  align-self: stretch;
}

.navbar__search-input,
.navbar__search-icon {
  height: 100%;
  padding: 1em;
  border: none;  
}

.navbar__search-input {
  width: 220px;
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--system-font);
  font-size: 1.6rem;
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.navbar__search-input--inactive {
  transform: translateX(220px);
}

.navbar__search-icon {
  background-color: hsl(225, 90%, 33%);
  cursor: pointer;
  z-index: 1;
}